@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2A2D32;
}


@theme {
  /* Colors */
  --color-primary: #719984;
  --color-secondary-50: #FEFDFB;
  --color-secondary-100: #F1F1F3;
  --color-secondary-200: #EBE9E1;
  --color-gray-100: #6B7280;
  /* Fonts */
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  font-weight: 400;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

a:hover,
button:hover {
  background-color: #719984;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

input,
textarea {
  background-color: #F1F1F3;
}

.themeH1 {
  @apply font-semibold text-2xl leading-none tracking-normal;
} 

/* .themeDefaultButton  {
  @apply rounded-full! w-[127.76px] h-[33.6px] leading-[12px]! shadow-none!
} */

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.rdp-weekdays{
  display: flex;
  justify-content: space-between;
}
.rdp-week{
  display: flex;
  justify-content: space-between;
}
.rdp-weeks, .rdp-months, .rdp-month{
  max-width: 100% !important;
  width: 100% !important;
}

.rdp-root{
  max-width: 100%;
}
.rdp-day_button{
  max-width: 32px;
  border-radius: 12px !important;
}
.rdp-selected .rdp-day_button{
  background: linear-gradient(to bottom left, #89A495 , #507160);
  color: #ffffff;
  border: none !important;
  font-weight: 400;
  font-size: 13px;

}
.rdp-day_button:hover{
  background-color: #E5E5E5;
}
.rdp-day_button:after{
  bottom: 5px !important;
}
.rdp-month_grid{
  display: block;
  max-width: 100%;
}

thead, tbody{
  display: block;
  max-width: 100%;
}